
/* /* ===== PRODUCT GRID (3 PER ROW) ===== */

.product-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    margin-top: 20px;
}

.product-card {
    background: #ffffff;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.08);
    text-align: center;
    transition: 0.3s ease;
}

.product-card:hover {
    transform: translateY(-5px);
}

.product-card h3 {
    margin-bottom: 8px;
}

.product-card p {
    margin: 5px 0;
    font-weight: 500;
}

.product-card button {
    margin-top: 10px;
    padding: 8px 14px;
    background: #1cc88a;
    border: none;
    color: white;
    border-radius: 6px;
    cursor: pointer;
}



/* ===== DASHBOARD LAYOUT ===== */

.dashboard {
    display: flex;
    min-height: 100vh;
    background:linear-gradient(to right,#4e73df,#1cc88a);
}

/* ===== SIDEBAR ===== */

.sidebar {
    width: 230px;
    background: #2c3e50;
    color: white;
    padding: 20px;
    flex-shrink: 0;
}

.sidebar h3 {
    margin-bottom: 30px;
    text-align: center;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    margin: 15px 0;
}

.sidebar ul li a {
    color: white;
    text-decoration: none;
}

.sidebar ul li a:hover {
    color: #1cc88a;
}

/* ===== MAIN CONTENT ===== */

.main-content {
    flex: 1;
    padding: 20px;
background:linear-gradient(to right,#4e73df,#1cc88a);
}
